$a : red;

@mixin acl__main-bt {
  width: 32px;
  height: 100%;
}

.acl__main-bt {
  @include acl__main-bt();
}

.acl__main-bt:hover {
  background-color: rgb(147, 147, 147);
}

.acl__main-btdanger{
  @include acl__main-bt();
}

.acl__main-btdanger:hover {
  background-color: rgb(111, 9, 9);
}